/**********
* Home page rules
**********/

.media-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;
}

.media-list .item {
    flex-basis: 24%;
    margin: 4px;

    background: #1f1f1f;

    padding-bottom: 25px;
}

.media-list .item .video {
    width: 100%;
}

.media-list .item .video iframe {
    width: 100%;
}
.media-list .item .video img {
    width: 100%;
    max-width: 200px;
}

.media-list .item .title {
    color: #fff;
    font-weight: bold;

    padding: 8px 20px;
    text-align: center;
}
.media-list .item .release_date {
    color: #fff;
    padding: 8px 20px;
    text-align: center;
}
.media-list .item .title:after {
    content: "";
    display: block;
    width: 20px;

    border-bottom: 1px solid var(--color-red);
    margin: 10px auto 0 auto;
}

.media-list .item:hover {
    text-decoration: none;
}

.media-list .item .summary {
    color: #fff;
    padding: 8px 20px;

}
#return_button {
    margin-bottom: : 30px;
}
#hea {
    margin-top: 30px;
}
.hea {
  position: relative;
  margin-top: 30px;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.hea iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 768px) {
    .media-list .item {
        flex-basis: 100%;
    }
}